*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
 
body{
    font-family: 'Work Sans', sans-serif;
}
header{
    background-color: rgba(255, 143, 14, 0.1);
    height: 100%
}
p{
    color:#727272;
    line-height: 26px;
}
.container{
    margin: 0px 100px;
}
/* nav area css start */
nav{
    margin: 0px 240px;
}
.header-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo> h1{
    color:#131313;
    font-size:45px ;
    font-weight: bold;
    margin-top: 30px;

}
.menu-area >ul{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.menu-area >ul>li{
    margin-right: 70px;
    list-style: none;
    color: #424242;
    font-size: 18px;
}

/* hero area css start */
.hero-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 100px;
}
.hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.hero-text >h2{
    font-size: 64px;
    font-weight: bold;
    color: #131313;
    line-height: 75px;
}
.hero-text:first-child{
    text-align: center;
}
.hero-text >p{
    margin: 30px 0px;
 
}
.hero-text button{
    margin-bottom: 50px;
    padding:20px 30px ;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-size: 20px;
}
.hero-img >img{
    width:100%;
    height: 100%;
    margin-bottom: 20px;
}

/* feature area css start */

.feature-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 85px;

}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-right: 30px;
}
.feature-img img{
width: 100%;
height: 100%;
}
.feature-text{
    padding: 0px 40px;
}
.feature-text h2{
    color:#727272;
    font-size: 45px;
    font-weight: 500;
    line-height: 52px;
}
.heading-clr1{
    color:#131313;
    font-weight: bold;

}
.feature-text :nth-child(2){
    color:#FF900E;
    font-size: 45px;
    font-weight: bold;
}
.feature-text p{
    width: 60%;
    margin-top: 24px;
    margin-bottom: 32px;
}
.feature-text button{
    padding: 20px 30px;
    background-color: #FF900E;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 8px;
}

/* service area start */
.service-section{
    position: relative;
}
.service-area{
    display: flex;
    gap: 160px;
    margin-top: 137px;
 
}
.service-content{
    width: 50%;
    height: 100%;
}
.service-heading > h2{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom:24px;
    padding: 0px 20px;
}
.service-heading >p{
margin-bottom: 30px;
padding: 0px 20px;
}
.layer::after{
    content: "";
    width: 5px;
    height: 106px;
    background-color:#FF900E;
    position: absolute;
    top: 0px;
    left: 100px;
}
.cards{
    width: 100%;
    height: 171px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px 40px;
    margin-bottom: 20px;
}
.card-1 >h2{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
    margin-bottom: 10px;
}
.service-img{
    width: 50%;
    height: 100%;
}

.btn{
    width: 342px;
    height: 200px; 
    background: #FF900E;
    border-radius: 8px;
    padding: 46px 42px;
    text-align: center;
    color: #FFFFFF;
    position:absolute;
    bottom: -10%;
    right: 35%;
}
.btn >h2{
    font-size: 65px;
    font-weight: bold;

}
.btn> p{
   font-size: 25px; 
   font-weight: 500;
}


/* faCTS area css start */

.facts-area{
    margin-top: 78px;
}
.facts-area-text{
    margin-left: 40px;
}
.facts-area-text h2{
    font-size: 45px;
    font-weight: 700;
}
.facts-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 108px;
}
.content{
    border: 2px solid #FF900E;
    border-radius: 8px;
    padding: 40px 35px;
    text-align: center;
    transition: border 0.4s ease ;
}
.content:hover{
   border: 2px solid navy;

}
.content h2{
    margin: 10px 0px;
    font-size: 45px;
    font-weight: 600;
}


/* sponsor -area css */
.sponsor-area{
    margin-top: 180px ;
}
.sponsor-area-heading{
    text-align: center;
}
.sponsor-area-heading h2{
    margin-bottom: 24px;
    font-size: 45px;
    font-weight: bold;
}

.sponsor-area-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: grayscale(1);
    margin-top: 50px;
    margin-bottom: 130px;
}
.sponsor-area-icon img{
    width: 100%;
}

.footer-content{
    width: 100%;
    height: 100px;
    background-color: #FFF4E7;
    text-align: center;
    padding-top: 40px;
    border-radius: 8px;
    font-size: 20px;
    }

/* contact area css */
.section-heading{
    text-align: center;
    margin-bottom: 50px;
}
.section-heading > h2{
    font-size: 30px;
}
.contact-content form{
    display: grid;
    gap:20px;
    grid-template-areas:
    "f l"
    "e p"
    "m m"
    "s s"
    ;
}
#first-name{
    grid-area: f;
}
#last-name{
    grid-area: l;
}
#email-addres{
    grid-area: e;
}
#phone-number{
    grid-area: p;
}
#message{
    grid-area: m;
}
#send-message{
    grid-area: s;
    background-color:#424242;
    margin-bottom: 100px;
  transition:background-color 0.5s ease-in-out ;
}
#send-message:hover{
    color:#FFf;
    background-color: #FF900E;

}
.contact-content input{
    padding: 10px;
    border: 1px solid gray;
    background-color: transparent;
    color: #fff;
}
.contact-content textarea{
    padding: 10px;
    border: 1px solid gray;
    background-color: transparent;
    color: #fff;
    font-family:'Work Sans', sans-serif ;
}

    footer{
        margin-bottom: 100px;
    }

/* responsive css start here */

 /* for mobile device */

 @media only screen and (max-width: 576px) {

    .container{
        margin: 0px 20px;
    }
    /* nav area responsive */
    .header-area{
    flex-direction: column;
    align-items: start;
    }
    .menu-area >ul{
        flex-direction: column;
        align-items: start;
    }

    .menu-area >ul>li{
      font-size: 30px;
      padding: 10px 0px;
      display: inline-block;
    }
    nav{
        margin: 0px 44px;
    }

    /* hero area responsive */
    .hero-text >h2{
        font-size: 60px;
    }
    .hero-text button{
        margin-bottom: 30px;
    }
/* feature area responsive start */
    .feature-area{
        flex-direction: column;
        margin: 40px 0px;
    }
    .feature-img{
        grid-template-columns: repeat(1, 1fr);
        margin-right: 0px;
        gap: 24px 0px;
    }
    .feature-text{
        padding: 0px 20px;
        margin-top: 40px;
    }
    
    .feature-text h2{
        text-align: center;
    }

    .feature-text p{
      text-align: center;
      width: 100%;
    }
    .feature-text button{
        width: 100%;
    
    }

/* service area responsive */
  
.service-section > .container{
    margin: 0px 15px;
}
.service-area{
    flex-direction: column;
    gap: 30px;
 
}
.service-content{
    width: 100%;
}
.service-img{
    width: 100%;
}
.layer::after{
    display: none;
}
.service-img > img{
    width: 100%;
}

.btn{
  display: none;
}

/* facts area-responsive */
    .facts-content{
        flex-direction: column;
    }
    .content{
        width: 100%;
        margin-top: 20px;
    }


/* our sponsor area */
    .sponsor-area-icon{
        flex-direction: column;
        gap: 20px;
    }

    #send-message{
        margin-bottom: 30px;
    }
    .footer-content{
        padding: 30px 15px;
    }
        footer{
        margin-bottom: 30px;
    }
}


