*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
 
body{
    font-family: 'Work Sans', sans-serif;
}
header{
    background-color: rgba(255, 143, 14, 0.1);
    height: 90vh;
}
/* nav area css start */
nav{
    margin: 0px 240px;
}
.header-area{
    display: flex;
    justify-content: space-between;
}
.logo> h1{
    color:#131313;
    font-size:45px ;
    font-weight: bold;
    margin-top: 30px;

}
.menu-area >ul{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.menu-area >ul>li{
    margin-right: 70px;
    list-style: none;
    color: #424242;
    font-size: 18px;
}

/* responsive css start here */

 /* for mobile device */

 @media only screen and (max-width: 576px) {
    /* nav area responsive */

    .header-area{
    flex-direction: column;
    align-items: start;
    }
    .menu-area >ul{
        flex-direction: column;
        align-items: start;
    }
    nav{
        margin: 0px 44px;
    }

 }