*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
 
body{
    font-family: 'Work Sans', sans-serif;
}